1em@import url(https://fonts.googleapis.com/css?family=Jua);

body {
  background-color:#d3d3d3;
  margin: 0; height: 100%;
}

h1{
  font-size:2em;
}

button#exitt {
    position: absolute;
    z-index: 5000;
    left: 5%;
    top: 5%;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    z-index: 2002;
    font-size: 35px;
    size: 35px;
  }

/* Profile */
.column{
width:100%;
min-height:190px;
}


.image-container{
width: 30%;
height: 180px;
float: left;
border:1px solid none;
margin:2px;
}

.image-container img{
max-height: 180px;
width: 100%;
cursor: pointer; /* Add a pointer on hover */
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:100%;
    /*max-height:250px;*/
    height:16em;
    font-family: 'Jua', sans-serif;
    background-color: rgba(255, 255, 255, 0.15);
    color:white;
    margin: auto;
    text-align: center;

}

.big_icon{
  font-size:32px;
  max-height:1.4em;
}

#fav_idols{
  white-space: nowrap;
  align-items:center;
}

/*.card h1 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.card p {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}*/

.intro {
    position: relative;
    top:0.8em;
}

.title {
	margin-top: 0px;
}


#video-rows {
	margin-top: 10px;
	width:98%;
	/*margin-left: auto;*/
    margin-left: 6px;
	margin-right: auto;
}

.main_page {
    width: 40px;
    float:left;
    margin-left:10px
}



.select-pure__select {
  display: inline-block;
align-items: center;
background: none;
border-radius: 1em;
border: 1px solid rgba(255, 255, 255, 1);
/*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);*/
box-sizing: border-box;
color: #363b3e;
cursor: pointer;
font-size: 1.2em;
font-weight: 500;
justify-content: left;
min-height: 44px;
padding: 0px 10px;
position: relative;
width: 60%;
margin-left: auto;
margin-right: auto;
}

.select-pure__options {
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.15);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
box-sizing: border-box;
color: #363b3e;
display: none;
left: 0;
max-height: 221px;
overflow-y: scroll;
position: absolute;
top: 50px;
width: 100%;
z-index: 5;
}

.select-pure__select--opened .select-pure__options {
display: block;
}

.select-pure__option {
background: #fff;
border-bottom: 1px solid #e4e4e4;
box-sizing: border-box;
height: 44px;
line-height: 25px;
padding: 10px;
}

.select-pure__option--selected {
	color: #e4e4e4;
	cursor: initial;
	pointer-events: none;
}

.select-pure__option--hidden {
display: none;
}

.select-pure__selected-label {
background: #5e6264;
border-radius: 4px;
color: #fff;
cursor: initial;
display: inline-block;
margin: 5px 5px 5px 0;
padding: 2px 7px;
}

.select-pure__selected-label:last-of-type {
margin-right: 0;
}

.select-pure__selected-label i {
cursor: pointer;
display: inline-block;
margin-left: 5px;
}

.select-pure__selected-label i:hover {
color: #e4e4e4;
}

.select-pure__autocomplete {
background: #f9f9f8;
border-bottom: 1px solid #e4e4e4;
border-left: none;
border-right: none;
border-top: none;
box-sizing: border-box;
font-size: 1.2em;
outline: none;
padding: 10px;
width: 100%;
}


iframe {
    top:0;
    left:0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2001;
}
