@import url(https://fonts.googleapis.com/css?family=Jua);
.minkyu {
  size: 10px;
}

body {
  font-family: 'Jua', sans-serif;
  background-color:rgba(0,0,0,.9);
  margin: 0; height: 100%;
  position: relative;
}

#empty {
    color: #ffffff;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.bottom-com-overlay {
    position: absolute;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.8));
    bottom: .1%;
    height: 5%;
    z-index: 100;
}

ul, li {
  list-style-type: none;
}

.jua{
 font-family: 'Jua', sans-serif;
 size:20px;
 font-size: 1.6rem;
 letter-spacing: 1px;
 text-shadow:0 0 0 #000000;
}

.main-nav{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #000000;
	  opacity: 0.8;
}

.overboard{
  position:relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2500;
}

.overboard img {
    width: 100%;
    height: 100%;
}

.main_nav:after{
    opacity:1;
}

.video{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}


.topnav{
  color:#ffffff;
  overflow: hidden;
  max-width:100%;
  font-family: 'Pacifico';
  z-index:10;
  display:flex;
  justify-content:space-between;
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.05));
}

.topnav a {
    padding: 10px 10px;
    color: #ffffff;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.big_icon{
  font-size:28px;
  max-height:1.4em;
  margin-top:16%;
}

.small_icon{
  max-height:1.2em;
  font-size:28px;
  margin-top:16%;
}

.star_icon{
  max-height:1em;
  font-size:20px;
  /*margin-top:16%;*/
}


.far{
  color: #fff;
  font-size: 2em;
}

.star-capture-nav{

    width:100px;
    margin-left: auto;
    margin-right: auto;
    color:#ffffff;

}

.video-control-nav{

    width:120px;
    margin-left: auto;
    margin-right: auto;
}

.video-control-nav-container{
    margin-left: auto;
    margin-right: auto;
}

.bottom-nav{
  position: absolute;
  bottom:5%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.wrapper{
  display:flex;
  justify-content:space-between;
}

#capture{
    font-family: 'Jua', sans-serif;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    border-radius:0.6em;
    height:40px;
    padding: 0.4em 5px 5px 8px;
    border-color:#ffffff;
    color:#ffffff;
    position:absolute;
    margin:auto;
    font-size:1.4em;
    width:6em;
    bottom:2.8em;
    left:0;
    right:0;
    text-align:center;
    text-shadow: none;
}

#star {
  font-family: 'Jua', sans-serif;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-radius:0.6em;
  height:40px;
  padding: 0.4em 5px 5px 2px;
  border-color:#ffffff;
  color:#ffffff;
  position:absolute;
  margin:auto;
  font-size:1.4em;
  width:6em;
  bottom:2.8em;
  left:0;
  right:0;
  text-align:center;
  text-shadow: none;
}

#star-icon{
  margin-top:0em;
  max-height: 1em;
  font-size: 24px;
  margin-bottom: 3%;
}

#emotion-button{
  width:60%;
  display:inline;
  margin:10 0;
  font-size:13px
	/*margin: 2px;*/
}

.ui-btn{
  max-height:2.8em;
  width:60%;
  display:inline;
  margin:10 0;
  font-size:13px
}

.create-overlay {
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3000;
}

.create-screenshot {
  position: fixed;
  background-color: #2a5d6f;
  border: 3px solid white;
  margin-top: 6%;
  margin-bottom: 5%;
  margin-left: 8.5%;
  margin-right: auto;
  width: 83%;
  height: 83%;
}

.create-capture-nav {
  display:flex;
  justify-content:space-between;
  position: absolute;
  width: 80%;
  /*margin-left: 8.5%;
  margin-right: auto;*/
  top: 5%;
  left: 10%;
}

#exit {
  margin-top: 0%;
  margin-left: 1%;
}

#text {
  margin-top: 0%;
  margin-right: 1%;
}

#share {
  position:fixed;
  width: max-content;
  text-align: center;
  margin-left: 37%;
  bottom: 2%;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  z-index: 1000;
  color: white;
  border: 1px white solid;
  border-radius: .6em;
  font-size: 1.8rem;
  padding: 4 8;
  text-shadow: none;
}


.textarea {
  position: absolute;
  margin-left: 9.5%;
  bottom: 14%;
  width: 81%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  text-shadow: none;
}



.textarea.kbactive {
  bottom: 50%;
}



/*
#textbox {
  background-color: rgba(0,0,0,.38);
  border: 1px solid white;
  max-width: max-content;
  padding: 10px;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: s;
  text-shadow: none;
}

#text_area {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 50px;
    height: 50px;
    background-color: green;
}*/

iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2001;
}

button.iframe-exitbutton {
    position: absolute;
    left: 85%;
    top: 5%;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    z-index: 2002;
    font-size: 35px;
    size: 35px;
  }



  .filter_nav {
    background: #2c3e50;
    position: relative;
    z-index: 1000;
  }

  /* line 13, C:/Users/Shubham/Desktop/test/sass/app.sass */


  /* line 17, C:/Users/Shubham/Desktop/test/sass/app.sass */

  /* line 24, C:/Users/Shubham/Desktop/test/sass/app.sass */
  .filter_nav .ham-nav .hamburger-nav::after {
    content: "\f0c9";
    color: #fafafa;
    position: absolute;
    top: 11px;
    right: 20px;
    cursor: pointer;
  }

  /* line 34, C:/Users/Shubham/Desktop/test/sass/app.sass */
  .filter_nav .ham-nav .menu {
    display: none;
    list-style: none;
    position: absolute;
    top: 64%;
    padding-left: 0;
    width: 100%;
    overflow: hidden;
  }

  /* line 42, C:/Users/Shubham/Desktop/test/sass/app.sass */
  .filter_nav .ham-nav .menu a{
    display: block;
    background: #e74c3c;
    text-decoration: none;
    text-align: center;
    padding: 20px;
  }

  /* line 50, C:/Users/Shubham/Desktop/test/sass/app.sass */

  /* line 53, C:/Users/Shubham/Desktop/test/sass/app.sass */

  /* line 56, C:/Users/Shubham/Desktop/test/sass/app.sass */
  .filter_nav .ham-nav .menu a li {
    color: white;
  }


/* COMMENTS */

div.comments {
  position: relative;
  width: auto;
  height: auto;
  z-index: 2;
  top: 0;
}
div.comments-content{
  position: relative;
  height: auto;
  width: 100%;
}
div.likes{
  position: absolute;
  bottom: 2%;
  left: 12%;
  z-index: 5;
  color: white;
}
button.like{
  position: absolute;
  bottom: 2%;
  left: 70%;
  z-index: 5;
}
button.unlike{
  position: absolute;
  bottom: 2%;
  left: 70%;
  z-index: 5;
}
button.download{
  position: absolute;
  bottom: 2.5%;
  left: 80%;
  z-index: 5;
}
a.download{
  position: absolute;
  //bottom: 2.5%;
  left: 80%;
  z-index: 5;
}

a.unlike {
  position: absolute;
  //bottom: 2.5%;
  left: 72%;
  z-index: 5;
}

a.like {
  position: absolute;
  //bottom: 2.5%;
  left: 72%;
  z-index: 5;
}

img.comments-img{
  width: 80%;
  height: auto;
  z-index: 2;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top:2em;
}

button.delete_jjal{
  font-family:'Jua', sans-serif;
  color:white;
  font-size:20px;
  position:relative;
  bottom:2%;
  z-index:3;
  left:70%;
  background:none;
  border-color:white;
  border-radius:10px;
  border-width:1.5px;
  margin-top:2%;

}

button#exit {
  position: absolute;
  left: 95%;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  z-index: 3;
}
button {
  font-size: 50px;
  size: 50px;
}
a {
  font-size: 50px;
  size: 50px;
  /*position: absolute;
  bottom: 2.5%;
  left: 72%;
  z-index: 5;*/
}
.dot {
	height: 34px;
	width: 34px;
	background-color: none;
	border: 1px white solid;
	border-radius: 50px;
	display: inline-block;
}

#shared {
  color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    z-index: 10000;
    text-align: center;
    text-shadow: none;
    display: table;
    text-shadow: none;
}

.video.loading{
  background-image: url("../gif/loading.gif");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
  pointer-events: none;
}
